/* Glass button by:  */
/* https://www.youtube.com/watch?v=uNjfslp6Qnc */

#start{
    background: rgba(51, 185, 10, 0.1);
}

#stop{
    background: rgba(41, 41, 41, 0.25);
}

#start:after{
    background: linear-gradient(90deg, transparent, rgba(51, 185, 10, 0.4), transparent);
}

#stop:after{
    background: linear-gradient(90deg, transparent, rgba(255, 0, 0, 0.4), transparent);
}

button{
    border: solid 1px rgba(255, 255, 255, 0.25);
    position: relative;
    padding: 25px 50px;
    text-decoration: none;
    color: #dfdfdf;
    font-size: 2em;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 4px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

button:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}

button:after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}

button:hover:after{
    left: 100%;
}

button span{
    position: absolute;
    display: block;
    transition: 0.5s ease;
}

button span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
}


button:hover span:nth-child(1){
    width: 100%;
    transform: translateX(100%);
}

button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
}

button:hover span:nth-child(3){
    width: 100%;
    transform: translateX(-100%);
}

button span:nth-child(2){
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
}

button:hover span:nth-child(2){
    height: 100%;
    transform: translateY(100%);
}

button span:nth-child(4){
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
}

button:hover span:nth-child(4){
    height: 100%;
    transform: translateY(-100%);
}

/* START */
button#start span:nth-child(1){
    background: #33b90a;
}

button#start span:nth-child(3){
    background: #33b90a;
}

button#start span:nth-child(2){
    background: #33b90a;
}

button#start span:nth-child(4){
    background: #33b90a;
}


/* STOP */
button#stop span:nth-child(1){
    background: #ff0000;
}

button#stop span:nth-child(3){
    background: #ff0000;
}

button#stop span:nth-child(2){
    background: #ff0000;
}

button#stop span:nth-child(4){
    background: #ff0000;
}
