* {
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body{
    /* Bright background: */
    /* background-image: url("../img/background.jpg");*/
    /* Dark background: */
    background-image: url("../img/background-dark.jpg");
    /* Linear gradient background: */
    /* background: linear-gradient(-30deg, #1ec4e9 0%, #673ab7 50%, #262626 50%, #607d8b 100%); */
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    align-items: center;

}

#timerDisplay{
    font-size: 10vw;
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px #303030;
    display: flex;
    justify-content: center;
}

#controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

td>h1{
    margin: 0;
    padding: 0;
}

input{
    width: 50px;
    padding: 10px;
    background: rgba(27, 27, 27, 0.2);
    border: none;
    text-shadow: 5px 5px 10px #303030;
    color: #fff;
    font-size: 1.5em;
}