.incrementTime{
    height: 100px;
    font-size: 10vh;
    opacity: 0;
    text-shadow: none;
    transition: opacity .25s ease-out;
    /* transition: font-size .3s; */
}

.incrementTime:hover{
    opacity: 1;
    /* font-size: 20vh; */
    color: #fff;
    text-shadow: 5px 5px 10px #303030;
}

.decremenntTime{
    height: 100px;
    font-size: 10vh;
    opacity: 0;
    text-shadow: none;
    transition: opacity .25s ease-out;
    /* transition: font-size .3s; */
}

.decremenntTime:hover{
    opacity: 1;
    /* font-size: 20vh; */
    color: #fff;
    text-shadow: 5px 5px 10px #303030;
}