.incrementTime{
    height: 100px;
    font-size: 10vh;
    opacity: .1;
    text-shadow: none;
    transition: opacity .25s ease-out;
}

.incrementTime:hover{
    opacity: 1;
    color: #fff;
    text-shadow: 5px 5px 10px #303030;
}

.decremenntTime{
    height: 100px;
    font-size: 10vh;
    opacity: .1;
    text-shadow: none;
    transition: opacity .25s ease-out;
}

.decremenntTime:hover{
    opacity: 1;
    color: #fff;
    text-shadow: 5px 5px 10px #303030;
}